<outerfooter>
		<footer id="footer" class="dark">

			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap clearfix">

					<div class="col_two_third">

						<div class="col_one_third">

							<div class="widget clearfix">

								<img src="/images/white-logo.png" alt="" class="footer-logo"/>

							</div>

						</div>

						<div class="col_one_third">

							<div class="widget widget_links clearfix">
								<a href="/">Home</a>
							</div>

						</div>

						<div class="col_one_third col_last">

							<div class="widget clearfix">
								<h4>Categories</h4>
								<a href="sportfishing">Offshore</a>
							</div>

						</div>

					</div>

					<div class="col_one_third col_last">

						<div class="widget clearfix" style="margin-bottom: -20px;">

						</div>

					</div>

				</div><!-- .footer-widgets-wrap end -->

			</div>

			<!-- Copyrights
			============================================= -->
			<div id="copyrights">

				<div class="container clearfix">

					<div class="col_half">
						Copyright &copy; 2018 All Rights Reserved by Saltwater Sam<br/>
						<div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
					</div>

					<div class="col_half col_last tright">
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->
</outerfooter>